PROJECT_NAME=wordle-duel-api

DOCKER_NGINX_PORT=80

DOCKER_POSTGRES_PORT=5432
DOCKER_POSTGRES_DB_NAME=${PROJECT_NAME}
DOCKER_POSTGRES_USERNAME=admin
DOCKER_POSTGRES_PASSWORD=admin
DOCKER_POSTGRES_PGDATA=/var/lib/postgresql/data